@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

/* element */
html, body {
  font-family: -apple-system, 'Noto Sans TC', Roboto, sans-serif, serif;
  font-size: 14px;
  /* line-height: 1.42857143; */
  color: #333;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #36bbd9;
}

a:hover {
  color: #2a99b3;;
}

h3 {
  font-weight: 500;
}

p {
  margin-bottom: 10px;
  line-height: normal;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #eeeeee;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* classes */
/* 768 below */
.header {
  /* background-color: rgb(213, 247, 185); */
  height: 105vh;
  padding: 10px 20px;
  text-align: center;
  /* background: url(https://storage.googleapis.com/jackercleaning/assets/optImg/landing/landing_mobilebg.png); */
  background-image: url('../assest/img/header-img-mobile.jpg');
  background-size: cover;
  background-position: center -1px;
}

.header-inner {
  max-width: 1200px;
}

.header-title {
  color: #eeece1;
  font-weight: bold;
  margin: 50px 0 55px;
  letter-spacing: 3px;
}

.header-form {
  background-color: transparent;
}

.header-form-tabs {
  display: flex;
  justify-content: space-around;
}

.header-form-tab {
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 4px 4px 0px 0px;
  color: #9b9b9b;
  background-color: #eeeeee;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 0.5px;
  box-sizing: border-box;
}

.header_form_tab_selected {
  color: #36bbd9;
  background-color: rgba(255, 255, 255, 0.8);
}

.header-form-content {
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.header-form-info {
  width: 100%;
}

.header-form-select {
  width: 100%;
  height: 39px;
  padding-left: 5px;
  -webkit-appearance: menulist-button;
  /* -webkit-appearance: none; */
}

.header-form-other {
  display: flex;
  justify-content: space-between;
}

.header-form-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.header-form-2-card {
  padding: 16px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px 2px rgb(229 229 229 / 50%);
  box-shadow: 0 2px 4px 2px rgb(229 229 229 / 50%);
  width: 190px;
  margin: 0 10px;
}

/* float window */
.float-order-info {
  width: 24%;
  position: fixed;
  top: 100px;
  left: 3%;
  /* background-color: rgb(230 224 249 / 80%); */
  border-radius: 8px;
  padding: 10px;
  z-index: 10;
  border: 1px solid gainsboro;
}

.float-calendar {
  margin-top: 10px;
  width: 100%;
  height: 39px;
  padding: 5px;
}

.search-layout {
  width: 72%;
  float: right;
  margin-top: 44px;
}

/* body-filter */
.filter-container {
  max-width: 1200px;
  width: 97%;
  margin: auto;
  text-align: center;
}

.filter-title {
  color: #b6b6b6;
  margin: 15px auto;
}

/* time-select-area */
.time-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.time-select-item {
  min-width: 25%;
  padding: 10px;
  margin-bottom: 15px;
}

.time-info {
  width: 250px;
  margin: 10px auto;
  padding: 10px 0;
  border: 1px solid gainsboro;
  color: #808080;
}

.time-card {
  width: 250px;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 2px 7px 7px rgb(229 229 229 / 50%);
  box-shadow: 1px 2px 7px 7px rgb(229 229 229 / 50%);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.time-img-container {
  height: 80px;
  overflow: hidden;
}

.time-img {
  margin-top: -8%;
}

.time-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 16px 16px;
  text-align: left;
}

/* body-result */
.body-result {
  text-align: center;
}

.best-title {
  color: #36bbd9;
}

.best-card {
  margin: auto;
  width: 350px;
  border-radius: 4px;
  position: relative;
  height: 100%;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
  background: #ffffff;
  -webkit-box-shadow: 0 4px 18px 0 #36bbd9;
  box-shadow: 0 4px 18px 0 #36bbd9;
  margin-bottom: 40px;
  overflow: hidden;
}

.best-card-bg {
  background-image: url(https://storage.googleapis.com/jackercleaning/assets/optImg/web/page/platform_three/bestcleaner-bg.jpg);
  width: 100%;
  height: 160px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.best-card-content {
  padding: 0px 20px 12px;
}

.best-card-info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60px;
  margin-bottom: 12px;
}

.best-card-thumbnail {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ffffff;
  background-color: #ffffff;
}

.best-card-thumbnail_img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: darkgrey;
}

.best-card-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.best-card-name {
  font-size: 18px;
  font-weight: 500;
  color: #808080;
  margin-right: 4px;
}

.best-card-price {
  font-size: 20px;
  color: #3e4459;
  font-weight: 500;
}

.best-footer {
  padding: 0px 12px;
  height: 100%;
  margin-bottom: 32px;
}

.best-footer-content {
  overflow: hidden;
  height: 76px;
}

.next-step {
  margin: auto;
  width: 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 16px;
}

.next-step-text {
  text-align: center;
  font-size: 14px;
  color: #bbb7ba;
  font-weight: 300;
  cursor: pointer;
}

.next-step-icon{
  width: 14px;
  height: 14px;
  -webkit-animation: arrowShake 1s infinite ease;
  animation: arrowShake 1s infinite ease;
}

@keyframes arrowShake1 {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

.more-card-category {
  border-bottom: 1px solid #e8e8e8;
  padding: 0 30px;
  overflow-x: scroll;
  max-width: 1200px;
  margin: auto;
}

.more-card-category::-webkit-scrollbar {
  display: none;
}

.more-card-category-container {
  display: inline-flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.more-card-category-item {
  padding: 10px 0;
  margin-right: 30px;
  cursor: pointer;
}

.more-card-head {
  max-width: 1200px;
  margin: auto;
  text-align: left;
  padding: 30px 5% 10px;
}

.more-card-container {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.more-card {
  width: calc(45% - 20px);
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  position: relative;
  height: 100%;
  margin: 0px 16px 16px 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.5s all ease-in-out;
  background-color: #ffffff;
}

.more-card:hover {
  -webkit-box-shadow: 0 4px 18px 0 #939fa1;
  box-shadow: 0 4px 18px 0 #939fa1;
}

.more-card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 24px 40px 30px;
}

.more-card-info-thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 24px;
}

.more-card-info-thumbnail_img {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: darkgrey;
}

.more-card-info-content {
  width: 165px;
  height: 120px;
}

.more-card-action {
  height: 70px;
  padding: 0px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.more-card-action_price {
  font-size: 20px;
  color: #3e4459;
  font-weight: 500;
  text-align: center;
}

/* inline website menu style */
.more-card-box {
  border: 1px solid #e8e8e8;;
  border-radius: 4px;
  position: relative;
  height: 195px;
  margin: 0px 16px 16px 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.7s all ease-in-out;
  background-color: #ffffff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.more-card-box:hover {
  -webkit-box-shadow: 0 4px 6px 0 #939fa1;
  box-shadow: 0 4px 6px 0 #939fa1;
}

.more-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
  padding: 15px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.more-card-content-sub {
  color: #696969;
  max-height: 62px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  overflow: hidden;
}
.more-card-content-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-container {
  height: 100%;
  min-width: 35%;
  max-width: 100%;
}

.more-card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* max-height: 100%; */
}

.lightbox {
  z-index: 50;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lightbox-inside {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px 25px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  overflow: scroll;
}

.lightbox-img {
  max-width: 40%;
}

.menu-section-title {
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  background-color: #f3f4f5;
  padding: 5px 25px;
  margin: 0 -25px;
}

.menu-section-content {
  cursor: pointer;
  padding: 17px 20px;
  display: block;
  line-height: 1;
  margin: 0 -20px;
  border-bottom: 1px solid #e8e8e8;
}

.menu-section-content:hover {
  background-color: #f0f0f071;
}

.menu-section-content-label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-section-content-choose {
  margin-top: 1px;
  flex-shrink: 0;
}

.menu-section-content-choose-text {
  color: #4a4a4a;
  width: 100%;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-footer {
  box-shadow: 0 -2px 4px 0 rgb(0 0 0 / 10%);
  margin: 0 -25px;
}

.menu-footer-group{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu-footer-amount {
  min-width: 235px;
  padding: 0 25px;
  margin: 10px 0;
}

.menu-footer-amount-text {
  padding: 6px 0;
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
}

.menu-footer-cart {
  height: 60px;
  border-radius: 0px!important;
}

/* checkout-layout */
.checkout-layout {
  height: 100vh;
  margin-top: 44px;
}
.booking-header {
  height: 44px;
  /* position: -webkit-sticky; */
  position: fixed;
  top: 0px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3e4459;
  padding: 10px 24px;
  width: 100%;
}

.booking-last-step {
  color: #ffffff;
  cursor: pointer;
}

.booking-last-step:hover {
  color: #ffffff;
}

.booking-body-container {
  width: 100%;
  background-color: #f3f3f3;
}

.booking-body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 100vh;
}

.booking-body-detail {
  -webkit-box-flex: 2;
  -ms-flex: 2 1 350px;
  flex: 2 1 350px;
  position: relative;
}

.booking-body-process{
  -webkit-box-flex: 3;
    -ms-flex: 3 1 450px;
    flex: 3 1 450px;
}

.order-detail {
  background-color: #ffffff;
  position: relative;
}

.order-detail_card {
  -webkit-box-shadow: 0px 1px 4px 2px rgb(229 229 229 / 50%);
  box-shadow: 0px 1px 4px 2px rgb(229 229 229 / 50%);
  border-radius: 4px;
}

.order-detail-content {
  padding: 20px 20px 0px;
}

.order-detail-footer {
  padding: 20px 20px 20px;
}

.order-detail-content_name {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-detail-content_thumbnail {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: cadetblue;
}

.order-detail-content_name_info {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.order-detail-content_price {
  margin-top: 10px;
}

.order-detail-price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
  padding: 0px 10px 0px 30px;
}

.order-detail-price-row_title {
  width: 75px;
}

.order-detail-price-row_subtitle {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.order-detail-content_total{
  width: 100%;
  padding-bottom: 20px;
}

.order-detail-footer_text {
  font-size: 12px;
}

.order-detail-footer_text-info {
  color: #808080;
}

.order-detail-footer_text-pop {
  text-decoration: underline;
  cursor: pointer;
}

/* progress-bar */
.booking-process-progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 15px;
}

.progrssbar-step{
  width: 35px;
  float: left;
}

.progrssbar-step_label {
  display: inline-block;
  background-color: lightgray;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  line-height: 37px;
  position: relative;
  z-index: 10;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 4px grey;
  box-shadow: 0px 0px 4px grey;
  margin-bottom: 15px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.progrssbar-step_text {
  font-size: 14px;
  width: 100px;
  margin-top: 20px;
}

.progrssbar-bar {
  overflow: hidden;
  position: relative;
  height: 12px;
  background-color: lightgray;
  margin-top: 12px;
  -webkit-transform: scaleX(1.01);
  -ms-transform: scaleX(1.01);
  transform: scaleX(1.01);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.booking-process-form {
  padding: 0 3% 30px;
  margin-top: 20px;
  -webkit-box-shadow: 0 1px 4px 2px rgb(229 229 229 / 50%);
  box-shadow: 0 1px 4px 2px rgb(229 229 229 / 50%);
  border-radius: 4px;
}

.booking-process-form_titlebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.booking-process-form_title {
  font-size: 20px;
  color: #36bbd9;
  margin: 20px 0px 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.booking-process-form_content {
  width: 100%;
}

.address-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

/* step 2 */
/* .process-form-plan {
  padding: 0 80px 20px;
} */

.process-form-plan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.process-form-plan-content_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 8px;
  border: 2px solid #f5f4f4;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0, 0.81, 0, -0.1);
  transition: all 0.2s cubic-bezier(0, 0.81, 0, -0.1);
}

.process_form_plan_content_option_selected {
  border: 2px solid #36bbd9;
}

.process-content-option-badge {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #c9302c;
  font-size: 12px;
  font-weight: 500;
}

.process-content-option-icon {
  margin-right: 12px;
  width: 60px;
  height: 60px;
  padding: 3% 4%;
  background-color: rgba(238, 238, 238, 0.9);
  border-radius: 50%;
}

.process-content-option-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}

.process-content-option-check {
  position: absolute;
  bottom: 8px;
  right: 7px;
  width: 14px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #eeeeee;
}

.process-content-option-title_single {
  font-size: 18px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 16px 0px 0px;
}

.process-form-plan-detail {
  padding: 20px 20px 12px;
  margin-top: 12px;
  margin-bottom: 20px;
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 4px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.plan-detail_subtitle{
  font-size: 12px;
  font-weight: 400;
  color: #808080;
}

.plan-detail_timeinfo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4px;
}

.title-flex-center {
  justify-content: center;
}

.plan-detail_notice {
  font-size: 12px;
}

.plan-detail_tips {
  margin-top: 12px;
  background-color: #ffffff;
  padding: 8px 36px;
  border-radius: 6px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.plan-detail_faq {
  cursor: pointer;
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* step-3 */
.coupon-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.payment-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.payment-label {
  cursor: pointer;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-choose {
  margin-top: 4px;
  flex-shrink: 0;
}

.payment-choose-text {
  padding-left: 15px;
  display: inline-block;
}

/* step 4 */
.process-img {
  text-align: center;
}

.process-img img {
  max-width: 50%;
}

/* calendar */
.flatpickr-calendar {
  width: 100%;
  margin: auto;
}

.filter-calendar .flatpickr-input {
  display: none;
}
/* layout */
.flexize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexize-item_half {
  width: 100%;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* input */
.form-group {
  display: inline-block;
  width: 100%;
  margin-bottom: 17px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 1rem;
  color: #3e4459;
  background-color: #fff;
  border: 1px solid #eeeeee;
  height: 40px;
  border-radius: 4px;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

.form-control:disabled {
  background-color: #e5e5e5;
  border-color: transparent;
  color: #9b9b9b;
  cursor: not-allowed;
}

/* ----button---- */
.btn-top-right{
  /* parent element needs to be position: relative */
  position: absolute; 
  top: 0px;
  right: 0px;
  cursor: pointer;
  padding: 20px;
}

/* 480 up */
.process-form-plan-content_option {
  width: 331px;
}

/* 700 up */
@media screen and (min-width: 700px) {
  .header {
    height: 100vh ;
    padding: 10px 100px;
  }

  .header-form-tab {
    font-size: 16px;
  }

  .booking-body-detail, .booking-process-progressbar, .booking-process-form {
    margin-right: 30px;
  }

  .form-control {
    height: 32px;
  }

  .process-form-plan {
    padding: 0 100px 20px!important;
  }
}

/* 900 up */
@media screen and (min-width: 900px) {
  .header {
    height: 100vh;
    background-image: url('../assest/img/header-img-revise.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .booking-process-form {
    padding: 25px 30px 30px;
  }

  .flexize {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: -15px;
    margin-left: -15px;
  }

  .flexize-item_half {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .process-form-plan {
    padding: 0 50px 20px!important;
  }

  .more-card-head {
    padding: 30px 4% 10px;
  }

  .more-card-box {
    width: 45%;
  }

  .lightbox-inside {
    max-width: 640px;
    max-height: 80%;
    border-radius: 20px;
  }

  .menu-footer {
    padding: 0 25px;
  }

  .menu-footer-amount {
    width: 50%;
  }

  .menu-footer-cart {
    width: 50%;
    height: 42px;
    border-radius: 4px!important;
  }

  .menu-footer-group {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    background-position: center;
  }
  .header-inner {
    max-width: 450px;
    margin: auto;
  }
}