/* intro */
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15px;
  background-color: #f5f3f4;
}

.intro-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.intro-item {
  width: 343px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 2px 7px 7px rgb(229 229 229 / 50%);
  box-shadow: 1px 2px 7px 7px rgb(229 229 229 / 50%);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.intro-img-container {
  height: 178px;
  overflow: hidden;
}

.intro-img {
  margin-top: -20%;
}

.intro-container {
  padding: 16px;
}

.intro-title {
  margin: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.intro_title_icon_close {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.intro_title_icon_open {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.intro-content {
  overflow: hidden;
}

.stretch-enter-active,
.stretch-leave-active {
  -webkit-transition: height 0.5s cubic-bezier(0.54, -0.57, 0, 1.12);
  transition: height 0.5s cubic-bezier(0.54, -0.57, 0, 1.12);
}

.stretch-enter-from,
.stretch-leave-to {
  height: 0;
}

.stretch-enter-to,
.stretch-leave-from {
  height: 276px;
}


.intro-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 23px 16px 0;
}

.intro-badge {
  flex: 1 1 0;
  text-align: center;
}

.intro-ruler {
  flex: 5 1 0;
}

.intro-ruler-hr {
  height: 16px;
  margin: 3px 18px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.ruler-hr {
  margin: 0;
  transform: translateY(6px);
}

/* no-service */
.no-service-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  margin: 25px 10%;
}

.no-service-content-item {
  width: 50%;
}

/* customer rate */
.customer-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.customer-rate-card {
  width: 320px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 4px 0 rgb(229 229 229 / 50%);
  box-shadow: 0 1px 4px 0 rgb(229 229 229 / 50%);
  border-radius: 4px;
  padding: 10px 16px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  margin: 10px auto;
}

.customer-rate-card:hover {
  -webkit-box-shadow: 1px 7px 8px 0 rgb(154 154 154 / 50%);
  box-shadow: 1px 7px 8px 0 rgb(154 154 154 / 50%);
}

.customer-rate-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #eeeeee;
}

.customer-rate-card-content {
  padding: 16px 0px 8px;
  line-height: 2.14;
}

.customer-rate .customer-rate-card:last-child {
  display: none;
}

/* faq */
.faq-container {
  width: 100%;
  max-width: 945px;
}

.faq-content {
  color: #4a4a4a;
  padding: 0px 12px;
  font-weight: 400;
  overflow: hidden;
  -webkit-transition: 0.4s height ease;
  transition: 0.4s height ease;
}

.faq_icon_close {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.faq_icon_open {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* PRESERVE */
.preserve-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 28px 0;
}

.preserve-container .preserve-outitem:first-child {
  margin-right: 12px;
}

.preserve-card {
  width: 170px;
  margin-bottom: 12px;
  padding: 4px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px 2px rgb(229 229 229 / 50%);
  box-shadow: 0 2px 4px 2px rgb(229 229 229 / 50%);
}

.preserve-icon {
  color: #36bbd9;
  font-size: 34px;
  margin: 0 10px;
}

.preserve-index {
  font-size: 14px;
}
.preserve-label {
  font-size: 12px;
}

/* recommend-card */
.recommend-big-title {
  display: none;
}

.recommend-hr {
  display: none;
  width: 70%;
  border-top: 2px solid #333;
}

.recommend-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.recommend-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  overflow: hidden;
}

.recommend-card{
  width: 150px;
  min-width: 150px;
  padding: 8px 0px;
  margin: 15px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 6px 0 #bbb7ba;
  box-shadow: 0 2px 6px 0 #bbb7ba;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* padding: 16px; */
  cursor: pointer;
}

.recommend-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.recommend-icon {
  color: #36bbd9;
  font-size: 34px;
  margin: 0 10px;
}

/* fabricCanvas */
#fabricCanvas {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .intro-item {
    width: 500px;
  }

  .no-service-content {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .customer-rate {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .preserve-container .preserve-outitem:first-child {
    margin-right: 20px;
  }

  .preserve-card {
    width: 275px;
    margin-bottom: 20px;
  }

  .preserve-icon {
    font-size: 60px;
    margin: 0 20px;
  }

  .preserve-index {
    font-size: 28px;
  }
  .preserve-label {
    font-size: 18px;
  }
}

@media screen and (min-width: 900px) {
  .no-service-content-item {
    width: 40%;
  }

  .customer-rate .customer-rate-card:last-child {
    display: block;
  }

  .faq-container {
    width: 70%;
  }
}

@media screen and (min-width: 1100px) {
  .intro {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .intro-item {
    width: 343px;
  }

  .intro_title_icon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .recommend-small-title {
    display: none;
  }

  .recommend-big-title {
    display: block;
  }

  .recommend-hr {
    display: block;
  }

  .recommend-area {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .recommend-content-container {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .recommend-card-container {
    width: 50%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-height: 455px;
    margin-bottom: 5px;
  }
}