<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Helios Rebot</title>
  <link rel="stylesheet" href="../css/index.css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->

  <!-- Flatpickr related files -->
  <link href="https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4/dist/flatpickr.min.js"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/zh-tw.js"></script>
  <!-- Vue js -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
  <!-- Lastly add this package -->
  <script src="https://cdn.jsdelivr.net/npm/vue-flatpickr-component@9"></script>

  <script
    src="https://cdn.jsdelivr.net/npm/seamless-scroll-polyfill@1.0.0/dist/es5/seamless.auto-polyfill.min.js"
    data-seamless
  ></script>
  <script defer src="../js/index.js"></script>

  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

</head>

<body>
  <div id="app">
    <div class="header">
      <div class="header-inner">
        <div class="header-title">
          <h1>預約居家清潔，三分鐘馬上搞定!!</h1>
        </div>
        <div class="header-form">
          <div class="header-form-tabs">
            <a
              class="header-form-tab"
              v-for="(ele, idx) in tabList"
              :key="idx"
              :class="{ header_form_tab_selected: ele.isSelect }"
              @click="ClickTab(ele)">{{ele.text}}
            </a>
          </div>
          <div class="header-form-content">
            <div>
              <div class="header-form-info">
                <div class="mT20">
                  <select class="header-form-select" name="" id="">
                    <option value="台北市">台北市</option>
                    <option value="新北市">新北市</option>
                    <option value="基隆市">基隆市</option>
                    <option value="桃園市">桃園市</option>
                  </select>
                </div>
                <div class="mT20">
                  <select class="header-form-select" name="" id="">
                    <option value="3">單人打掃 3小時</option>
                    <option value="4">單人打掃 4小時</option>
                    <option value="5">雙人打掃 5小時</option>
                    <option value="6">雙人打掃 6小時</option>
                  </select>
                </div>
                <div class="header-form-other mT20">
                  <div>家中有無寵物</div>
                  <div>有/無</div>
                </div>
              </div>
              <div class="mT20 w100">
                <button class="btn-primary w100" @click="SubmitBasicInfo">開始預約，查看清潔價格</button>
              </div>
              <div class="mT10 w100">
                <p>找約過的人員？<a href="#">輸入您的手機號碼</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="seach-layout" v-show="isBasicInfo" ref="searchLayout">
      <div class="body-filter">
        <div class="filter-container">
          <h3 class="filter-title">選擇預約日期</h3>
          <div>
            <flat-pickr 
              v-model="selectedDate"
              :config="calendarConfig"
              @input="SubmitDateSelect">
            </flat-pickr>
            <div id="filter-calendar"></div>
          </div>
          <div class="mT20 w100" v-show="isDateSelect" ref="timeSelect">
            <!-- <hr> -->
            <h3 class="filter-title">選擇預約時段</h3>
            <div class="time-select-container">
              <div class="mT10">
                <a 
                  class="btn time-btn"
                  v-for="(ele, idx) in timeList"
                  :key="idx"
                  :class="{ time_btn_selected: ele.isSelect }"
                  @click="SubmitTimeSelect(ele)"
                >{{ele.time}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="body-result" v-show="isTimeSelect" ref="bodyResult">
        <h3 class="filter-title best-title">為您選擇最佳潔客</h3>
        <div class="best-container">
          <div class="best-card">
            <div class="best-card-bg"></div>
            <div class="best-card-content">
              <div class="best-card-info_wrapper">
                <div class="best-card-thumbnail">
                  <div class="best-card-thumbnail_img"></div>
                </div>
                <div class="best-card-headline">
                  <div class="best-card-name">Helios</div>
                </div>
                <div class="best-card-price">1000/hr</div>
              </div>
            </div>
            <div class="best-footer">
              <div class="best-footer-content">
                The best you can find. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
                necessitatibus.
              </div>
            </div>
          </div>
          <div class="next-step">
            <button class="w100 btn-primary btn-extra-large">下一步</button>
            <div class="next-step-text mT20" @click="MoreCard">往下查看更多潔客</div>
            <img src="https://storage.googleapis.com/jackercleaning/assets/optImg/icon/icon-arrowdown.svg" alt=""
              class="next-step-icon">
          </div>
        </div>
        <div class="result-sort"></div>
        <div class="more-card-container" ref="moreCard">
          <div 
            class="more-card" 
            v-for="(ele, idx) in moreCardInfoList"
            :key="idx">
            <div class="more-card-info">
              <div class="more-card-info-thumbnail">
                <div class="more-card-info-thumbnail_img"></div>
              </div>
              <div class="more-card-info-content">{{ele.content}}</div>
            </div>
            <div class="more-card-action">
              <div class="flex1 more-card-action_price">${{ele.price}}/hr</div>
              <div class="flex1">
                <a class="btn-primary-outline btn-large w100">預約此潔客</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout-layout">
      <div class="booking-header">
        <a class="booking-last-step">
          <i class="fas fa-angle-left"></i> 選擇其他潔客
        </a>
      </div>
      <div class="booking-body-container">
        <div class="booking-body">
          <div class="booking-body-detail">
            <div class="order-detail">
              <div class="order-detail_card">
                <div class="order-detail-content">
                  <div class="order-detail-content_top">
                    <p><i class="fas fa-clock icon-w14 mR5 text-center" style="color: lightgray;"></i> 2021-07-24 10:30-13:30</p>
                    <p><i class="fas fa-map-marker-alt icon-w14 mR5 text-center" style="color: lightgray;"></i> 台北市 中正區</p>
                  </div>
                  <div class="order-detail-content_name">
                    <div class="order-detail-content_thumbnail"></div>
                    <div class="order-detail-content_name_info">
                      <p>Project 1</p>
                      <p>3 hr x 1000 元/hr<span class="force-right mR10">$3000</span></p>
                    </div>
                  </div>
                  <hr>
                  <div class="order-detail-content_price">
                    <div class="order-detail-price-row">
                      <div class="order-detail-price-row_title"></div>
                      <div class="order-detail-price-row_subtitle"></div>
                      <div class="order-detail-price-row_amount">小計: $3000</div>
                    </div>
                    <div class="order-detail-price-row">
                      <div class="order-detail-price-row_title">鐘點清潔</div>
                      <div class="order-detail-price-row_subtitle">3 hr x 1000 元/hr</div>
                      <div class="order-detail-price-row_amount">$3000</div>
                    </div>
                    <div class="order-detail-price-row">
                      <div class="order-detail-price-row_title">旺季加價</div>
                      <div class="order-detail-price-row_subtitle"></div>
                      <div class="order-detail-price-row_amount">$1000</div>
                    </div>
                  </div>
                  <div class="order-detail-content_total">
                    <hr>
                    <div class="order-detail-price-row color-secondary bold">
                      <div class="order-detail-price-row_title">總計</div>
                      <div class="order-detail-price-row_subtitle"></div>
                      <div class="order-detail-price-row_amount">$4000</div>
                    </div>
                  </div>
                </div>
                <div class="order-detail-footer">
                  <p><i class="fas fa-info-circle icon-w14 mR5"></i> 注意事項</p>
                  <div class="order-detail-footer_text">
                    <span class="order-detail-footer_text-info">取消及更改服務政策、加購用具相關政策...</span>
                    <span class="order-detail-footer_text-pop">查看完整資訊</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="booking-body-process">
            <div class="booking-process-progressbar">
              <div class="progrssbar-step">
                <span class="progrssbar-step_label">1</span>
                <span class="progrssbar-step_text">填寫資料</span>
              </div>
              <span class="progrssbar-bar" style="width: calc((100% - 140px) / 3);"></span>

              <div class="progrssbar-step">
                <span class="progrssbar-step_label">2</span>
                <span class="progrssbar-step_text">清潔計畫</span>
              </div>
              <span class="progrssbar-bar" style="width: calc((100% - 140px) / 3);"></span>

              <div class="progrssbar-step">
                <span class="progrssbar-step_label">3</span>
                <span class="progrssbar-step_text">付款確認</span>
              </div>
              <span class="progrssbar-bar" style="width: calc((100% - 140px) / 3);"></span>

              <div class="progrssbar-step">
                <span class="progrssbar-step_label">4</span>
                <span class="progrssbar-step_text">預約完成</span>
              </div>
            </div>
            <div class="booking-process-form">
              <div class="booking-process-form_titlebox">
                <h5 class="booking-process-form_title"><i class="fas fa-phone-alt icon-w20 mR10"></i>聯絡資訊</h5>
              </div>
              <div class="booking-process-form_content">
                <div class="flexize">
                  <div class="flexize-item_half">
                    <p>姓名</p>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="王小民">
                    </div>
                  </div>
                  <div class="flexize-item_half">
                    <p>手機</p>
                    <div class="form-group">
                      <input type="tel" class="form-control" placeholder="0912345678">
                    </div>
                  </div>
                </div>
                <div>
                  <p>E-mail</p>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="service@heliosrobot.com">
                  </div>
                </div>
              </div>
              <div class="booking-process-form_titlebox">
                <h5 class="booking-process-form_title"><i class="fas fa-map-marker-alt icon-w20 mR10"></i>打掃地址</h5>
              </div>
              <div class="w100">
                <div class="flexize">
                  <div class="flexize-item_half">
                    <div class="address-flex mB10">
                      <select disabled="disabled" name="county" class="form-control mR5">
                        <!-- <option value="選擇城市">選擇城市</option> -->
                        <option value="台北市">台北市</option>
                      </select>
                      <select disabled="disabled" name="county" class="form-control">
                        <option value="中正區">中正區</option>
                      </select>
                    </div>
                  </div>
                  <div class="flexize-item_half">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="忠孝東路一段">
                    </div>
                  </div>
                </div>
                
              </div>

              <div class="booking-process-form_titlebox">
                <h5 class="booking-process-form_title"><i class="far fa-comment-dots icon-w20 mR10"></i>訂單備註</h5>
              </div>
              <input type="text" class="form-control" placeholder="這裡可以留下備註、注意事項">
              <div class="w100 mT20 text-center">
                <button class="btn-primary btn-large mR10">上一步</button>
                <button class="btn-primary btn-large mR10">下一步</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>